# 🔐 SECRET FILES (VERY IMPORTANT)
serviceAccountKey.json
.streamlit/secrets.toml

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/cache/

# Jupyter
.ipynb_checkpoints

# Build files
build/
dist/
*.egg-info/
